---
import type { GetStaticPaths } from "astro";
import type { Post, PostInstance } from "../misc";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import { posts } from "../scripts/getContent";
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";

interface Props {
	file: PostInstance;
	prev: Post | null;
	next: Post | null;
	PostMarkup: AstroComponentFactory;
}

export const getStaticPaths = (() => {
	return posts.map((post, i) => ({
		params: {
			slug: post.slug,
		},
		props: {
			file: post.file,
			prev: posts[i - 1] ?? null,
			next: posts[i + 1] ?? null,
			PostMarkup: post.file.default,
		} satisfies Props,
	}));
}) satisfies GetStaticPaths;

const {
	file: { title, date, excerpt },
	prev,
	next,
	PostMarkup,
} = Astro.props;
---

<Layout title={title}>
	<header>
		<Navigation prev={prev} next={next} />
	</header>
	<time datetime={date.toISOString()}>
		{date.toLocaleString("default", { month: "short" })}
		{date.getDate()},
		{date.getFullYear()}
	</time>
	<h2>{title}</h2>
	<p><i>{excerpt}</i></p>
	<PostMarkup />
	<footer>
		<Navigation prev={prev} next={next} />
	</footer>
</Layout>


<style>
	time {
		color: var(--gray);
	}

	h2 {
		font-size: 2rem;
		margin: 0;
	}

	p {
		color: var(--gray);
		padding: .5rem 1rem 1rem 1rem;
		margin: 0;
	}

	header {
		padding-bottom: .5rem;
		margin-bottom: 1.5rem;
		border-bottom: 1px solid var(--lgray);
	}

	footer {
		padding-top: .5rem;
		margin-top: 1.5rem;
		border-top: 1px solid var(--lgray);
	}

	header, footer {
		text-align: center;

		a {
			color: var(--darker);
			text-decoration: none;

			&:nth-child(2) {
				margin: 0 1rem;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}
</style>